<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="/">Home</a></li>
        <li>Subscribed</li>
      </ol>
      <h2>Congratulations! You have successfully subscribed to Webspire's Newsletter!</h2>
      
    </div>
  </section><!-- End Breadcrumbs -->

  <section class="inner-page">
    <div class="container">
      <p>
        We will send our Newsletter to your inbox: <b style="color: #37517e;"><%= email %> </b> when we have news to share!
      </p>
      <a href="/" class="btn-get-started">Back To Home</a>
    </div>
  </section>

</main><!-- End #main -->